# Knee-Deep into the Dataset
By **Daniel Palacio** (github.com/palaciodaniel) - December 2020

In [1]:
# Importing required libraries

import pandas as pd

In [2]:
# Loading dataset

df = pd.read_csv("ultimate_doom_monsters.csv")
df.head()

,Ep,Level,Name,Skill_Level,Num_Zombieman,Num_Sargeant,Num_Imp,Num_LostSoul,Num_Demon,Num_Spectre,Num_Cacodemon,Num_BaronOfHell,Num_Cyberdemon,Num_SpiderMastermind
0,1,1,Hangar,1/2,2,0,2,0,0,0,0,0,0,0
1,1,1,Hangar,3,4,0,2,0,0,0,0,0,0,0
2,1,1,Hangar,4/5,9,16,4,0,0,0,0,0,0,0
3,1,2,Nuclear Plant,1/2,17,0,3,0,0,0,0,0,0,0
4,1,2,Nuclear Plant,3,33,0,8,0,0,0,0,0,0,0

| Column | Description | Number of distinct values |
|:---:|:---:|:---:|
| **Ep** | Episode number | 4 |
| **Level** | Level number | **Per Episode:** 9 <br /><br />**Total Count:** 36 |
| **Name** | Level name | 36 |
| **Skill_Level** | 1/2 and 4/5 always share <br />the same number of monsters.<br /> That's why they were put together. | 5 |
| **Num_{Monster Name}** | How many monsters of that type<br /> the level features on that skill. | **Monster Names:** Zombieman, Sargeant,<br /> Imp, Lost Soul, Demon, Spectre, Cacodemon,<br /> Baron of Hell, Cyberdemon, Spider Mastermind. |

- - -

In [3]:
# Merging columns "Level" and "Name"

df["Level"] = df["Level"].astype("str").str.cat(df["Name"], sep = ". ")

df.drop("Name", axis = 1, inplace = True) # We don't need this column anymore.

df.head()

,Ep,Level,Skill_Level,Num_Zombieman,Num_Sargeant,Num_Imp,Num_LostSoul,Num_Demon,Num_Spectre,Num_Cacodemon,Num_BaronOfHell,Num_Cyberdemon,Num_SpiderMastermind
0,1,1. Hangar,1/2,2,0,2,0,0,0,0,0,0,0
1,1,1. Hangar,3,4,0,2,0,0,0,0,0,0,0
2,1,1. Hangar,4/5,9,16,4,0,0,0,0,0,0,0
3,1,2. Nuclear Plant,1/2,17,0,3,0,0,0,0,0,0,0
4,1,2. Nuclear Plant,3,33,0,8,0,0,0,0,0,0,0

In [4]:
# Setting MultiIndex

df.set_index(["Ep", "Level", "Skill_Level"], inplace = True)
df.head()

                                 Num_Zombieman  Num_Sargeant  Num_Imp  \
Ep Level            Skill_Level
1  1. Hangar        1/2                      2             0        2
                    3                        4             0        2
                    4/5                      9            16        4
   2. Nuclear Plant 1/2                     17             0        3
                    3                       33             0        8

                                 Num_LostSoul  Num_Demon  Num_Spectre  \
Ep Level            Skill_Level
1  1. Hangar        1/2                     0          0            0
                    3                       0          0            0
                    4/5                     0          0            0
   2. Nuclear Plant 1/2                     0          0            0
                    3                       0          0            0

                                 Num_Cacodemon  Num_BaronOfHell  \
Ep Level            Skill_Level
1  1. Hangar        1/2                      0                0
                    3                        0                0
                    4/5                      0                0
   2. Nuclear Plant 1/2                      0                0
                    3                        0                0

                                 Num_Cyberdemon  Num_SpiderMastermind
Ep Level            Skill_Level
1  1. Hangar        1/2                       0                     0
                    3                         0                     0
                    4/5                       0                     0
   2. Nuclear Plant 1/2                       0                     0
                    3                         0                     0

- - -

In [5]:
# Getting list of columns

df.columns

Index(['Num_Zombieman', 'Num_Sargeant', 'Num_Imp', 'Num_LostSoul', 'Num_Demon',
       'Num_Spectre', 'Num_Cacodemon', 'Num_BaronOfHell', 'Num_Cyberdemon',
       'Num_SpiderMastermind'],
      dtype='object')

In [6]:
# Creating list of tuples to create columns' MultiIndex

list_tuples = []

for col in df.columns:
    if "Num_" in col:
        col_tuple = tuple(col.split("_"))
        list_tuples.append(col_tuple)
    else:
        list_tuples.append(tuple([col, " "]))

print("The list of tuples looks like this:\n\n",list_tuples)

The list of tuples looks like this:

 [('Num', 'Zombieman'), ('Num', 'Sargeant'), ('Num', 'Imp'), ('Num', 'LostSoul'), ('Num', 'Demon'), ('Num', 'Spectre'), ('Num', 'Cacodemon'), ('Num', 'BaronOfHell'), ('Num', 'Cyberdemon'), ('Num', 'SpiderMastermind')]

In [7]:
# Setting columns' MultiIndex using the created list of tuples

df.columns = pd.MultiIndex.from_tuples(list_tuples)

df.head()

                                      Num                                      \
                                Zombieman Sargeant Imp LostSoul Demon Spectre
Ep Level            Skill_Level
1  1. Hangar        1/2                 2        0   2        0     0       0
                    3                   4        0   2        0     0       0
                    4/5                 9       16   4        0     0       0
   2. Nuclear Plant 1/2                17        0   3        0     0       0
                    3                  33        0   8        0     0       0

                                                                  \
                                Cacodemon BaronOfHell Cyberdemon
Ep Level            Skill_Level
1  1. Hangar        1/2                 0           0          0
                    3                   0           0          0
                    4/5                 0           0          0
   2. Nuclear Plant 1/2                 0           0          0
                    3                   0           0          0


                                SpiderMastermind
Ep Level            Skill_Level
1  1. Hangar        1/2                        0
                    3                          0
                    4/5                        0
   2. Nuclear Plant 1/2                        0
                    3                          0

In [8]:
# Renaming general column "Num" to "Monster"

df.rename(columns = {"Num":"Monster"}, inplace = True)

df.head(27) # Showing first episode

                                       Monster                              \
                                     Zombieman Sargeant Imp LostSoul Demon
Ep Level                 Skill_Level
1  1. Hangar             1/2                 2        0   2        0     0
                         3                   4        0   2        0     0
                         4/5                 9       16   4        0     0
   2. Nuclear Plant      1/2                17        0   3        0     0
                         3                  33        0   8        0     0
                         4/5                53        8  18        0     0
   3. Toxin Refinery     1/2                14        4  15        0     1
                         3                  24       19  29        0     2
                         4/5                28       47  47        0     7
   4. Command Control    1/2                 8        3   9        0     1
                         3                  22        9  20        0     3
                         4/5                22       16  36        0    11
   5. Phobos Labs        1/2                15        0   7        0     2
                         3                  28       24  26        0     4
                         4/5                28       46  31        0    12
   6. Central Processing 1/2                13       17  16        0     2
                         3                  22       35  43        0     9
                         4/5                22       56  57        0    20
   7. Computer Station   1/2                14        7   9        0     1
                         3                  31       19  30        0     3
                         4/5                47       56  39        0     7
   8. Phobos Anomaly     1/2                 0        6   5        0     8
                         3                   0        6   5        0    14
                         4/5                 0        6   5        0    18
   9. Military Base      1/2                 5        3  21        0     2
                         3                   5       21  30        0    11
                         4/5                 5       29  40        0    15

                                                                               \
                                     Spectre Cacodemon BaronOfHell Cyberdemon
Ep Level                 Skill_Level
1  1. Hangar             1/2               0         0           0          0
                         3                 0         0           0          0
                         4/5               0         0           0          0
   2. Nuclear Plant      1/2               0         0           0          0
                         3                 0         0           0          0
                         4/5               0         0           0          0
   3. Toxin Refinery     1/2               0         0           0          0
                         3                 0         0           0          0
                         4/5               2         0           0          0
   4. Command Control    1/2               0         0           0          0
                         3                 0         0           0          0
                         4/5               0         0           0          0
   5. Phobos Labs        1/2               0         0           0          0
                         3                 9         0           0          0
                         4/5              14         0           0          0
   6. Central Processing 1/2               2         0           0          0
                         3                 9         0           0          0
                         4/5              22         0           0          0
   7. Computer Station   1/2               1         0           0          0
                         3                 1         0           0          0
                         4/5               1         0           0          0
   8. Phobos Anomaly     1/2               0         0           2          0
                         3                 0         0           2          0
                         4/5              10         0           2          0
   9. Military Base      1/2               2         0           0          0
                         3                 5         0           0          0
                         4/5              14         0           0          0


                                     SpiderMastermind
Ep Level                 Skill_Level
1  1. Hangar             1/2                        0
                         3                          0
                         4/5                        0
   2. Nuclear Plant      1/2                        0
                         3                          0
                         4/5                        0
   3. Toxin Refinery     1/2                        0
                         3                          0
                         4/5                        0
   4. Command Control    1/2                        0
                         3                          0
                         4/5                        0
   5. Phobos Labs        1/2                        0
                         3                          0
                         4/5                        0
   6. Central Processing 1/2                        0
                         3                          0
                         4/5                        0
   7. Computer Station   1/2                        0
                         3                          0
                         4/5                        0
   8. Phobos Anomaly     1/2                        0
                         3                          0
                         4/5                        0
   9. Military Base      1/2                        0
                         3                          0
                         4/5                        0